<a href="https://colab.research.google.com/github/Dakt-98/Octu-1-worker-s-wages/blob/main/octu_1_%D8%A7%D8%AC%D8%B1%D8%A9_%D8%A7%D9%84%D8%B9%D8%A7%D9%85%D9%84.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
atm=input("Enter you PIN number:\n")
len(str(atm))
print(len(str(atm)))

Enter you PIN number:
54528
5

In [6]:
#Ù„ÙƒÙŠ Ø§ØªØ°ÙƒØ± Ø§Ù† Ø§Ù„Ù…Ø¯Ø®Ù„ Ù†Øµ ÙˆØ³ÙŠØªÙ… ØªØ­ÙˆÙŠÙ„Ù‡ Ø¶Ø¹ (str)
str_test=input("enter two digits")
#Ø§Ù„Ø§Ù† Ù†Ø­ÙˆÙ„ Ø§Ù„Ù†Øµ Ø§Ù„Ù‰ Ø±Ù‚Ù… ØµØ­ÙŠØ­ Ù„Ø§Ù†Ù‡Ø§ Ø¹Ù…Ù„ÙŠØ© Ø¬Ù…Ø¹ ÙˆØ·Ø±Ø­
first_number=int(str_test[0]) #Ù„Ø§ ØªÙ†Ø³ÙŠ ØªØ­Ø¯ÙŠØ¯ ÙƒÙ… Ø®Ø§Ù†Ù‡ Ø¹Ù„Ù‰ Ø­Ø³Ø¨ Ø§Ù„Ù…Ø·Ù„ÙˆØ¨
second_number=int(str_test[1])
#Ø§Ù„Ø§Ù† Ù†Ø¬Ù…Ø¹ Ø§Ù„Ù†Ø§ØªØ¬ Ùƒ Ø±Ù‚Ù… ØµØ­ÙŠØ­ (int)
result=first_number+second_number
#Ø§Ù„Ø§Ù† Ù†Ø­ÙˆÙ„ Ø§Ù„Ø±Ù‚Ù… Ø§Ù„ØµØ­ÙŠØ­ Ø§Ù„Ù‰ Ù†Øµ Ù„ÙƒÙŠ ØªØªÙ… Ø·Ø¨Ø§Ø¹ØªÙ‡ (int to str)
str_result=str(result)
print("The result is :" + str_result)

enter two digits33
The result is :6

In [15]:
str_tall=input("Please enter the tall :\n")
str_wide=input("Please enter the wide :\n")
str_much=input("How much for one meter ?\n")
#convert type
tall=float(str_tall)
wide=float(str_wide)
#give me the area
area=tall*wide
#change it from float to str
str_area=str(area)
print("The total area is :" + str_area)
#the price convert
much=float(str_much)
result=area*much # (float *  float)
#change float to str to print it
str_result=str(result)
print("Give the guy : " + "$"+ str_result )
#ğŸ˜ğŸ˜

Please enter the tall :
5.3
Please enter the wide :
7.8
How much for one meter ?
3.5
The total area is :41.339999999999996
Give the guy :$144.69

In [9]:
# Ù„Ù†Ø­Ø³Ø¨ Ø¹Ø¯Ø¯ Ø§Ù„Ø®Ø§Ù†Ø§Øª Ù†ØµÙ†Ø¹ Ù…ØªØºÙŠØ±
name=input("what is your name ?\n")
# Ù†Ø¶Ø¹ Ø®Ø§ØµÙŠØ© Ø¹Ø¯ Ø§Ù„Ø®Ø§Ù†Ø§Øª ÙˆØ§Ù„ØªÙŠ Ù‡ÙŠ len (   )
len(name)
# Ø§Ù„Ø§Ù† Ù†ØµÙ†Ø¹ Ù…ØªØºÙŠØ± Ù„ÙƒÙŠ ÙŠØªÙ… Ø­ÙØ¸Ù‡ ÙˆØ·Ø¨Ø§Ø¹ØªÙ‡
name_len=len(name)
# Ø§Ù„Ø§Ù† Ù†Ø·Ø¨Ø¹ Ø¹Ø´Ø§Ù† Ø§Ø¹Ø±Ù Ø¹Ø¯Ø¯ Ø§Ù„Ø®Ø§Ù†Ø§Øª Ù…Ø¹ Ø§Ù„Ø¹Ù„Ù… Ø§Ù† (Ø§Ù„Ù…Ø³Ø§ÙØ§Øª )ØªØ­Ø³Ø¨
print(name_len)

what is your name ?

9

In [12]:
code=input("What is your code number ?\n")
len(code)
code_len=len(code)
print(code_len)

What is your code number ?
12345
5